@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans Lao', sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}